@model _23DH113041_MyStore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<h2 class="product-header">CHI TIẾT SẢN PHẨM</h2>


@Html.Partial("PVProductInfo", Model)

<div class="buttons">
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary" })
</div>